html, body {
    background-color: white;
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    color: black;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* header and its parts */

header {
    background-color: white;
    border-bottom: 5px solid grey;
    height: 50px;
    width: 100%;
    max-width: 100%;
    line-height: 50px;
}

header h2 {
    margin: 0px;
    font-weight: normal;
    display: inline-block;
    text-transform: uppercase;
}

.button {
    height: 30px;
    width: 30px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    background-origin: content-box;
    background-position: center center;
    filter: invert(50%);
    -webkit-filter: invert(50%);
}

.sandwitch {
    background-image: url("./img/glyphicons/png/glyphicons-517-menu-hamburger.png");
    background-size: 22px 18px;
    float:left;
}

.kachel {
    background-image: url("./img/glyphicons/png/glyphicons-157-show-thumbnails.png");
    background-size: 22px 22px;
    float:right;
}
.listicon {
    background-image: url("./img/glyphicons/png/glyphicons-115-list.png");
    background-size: 22px 22px;
    float:right;
}

.listeners-active .toggle-listeners {
    background-image: url("./img/glyphicons/png/glyphicons-560-mic-mute.png");
    background-size: 23px 30px;
    float: left;
}

.toggle-listeners {
    background-image: url("./img/glyphicons/png/glyphicons-301-microphone.png");
    background-size: 23px 30px;
    float: left;
}

.new-item {
    background-image: url("./img/glyphicons/png/glyphicons-433-plus.png");
    float: right;
}

.edit-item {
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("./img/glyphicons/png/glyphicons-31-pencil.png");
    float: right;
}

/* main part of the view */

.maincontent {
    width: 100%;
    max-width: 100%;
    background-color: white;
    height: calc(100% - 55px - 55px);
    height: -webkit-calc(100% - 55px - 55px);
    max-height: calc(100% - 55px - 55px);
    max-height: -webkit-calc(100% - 55px - 55px);
    overflow-y: auto;
    overflow-x: hidden;
}

/* list and list items */

.list {
    margin: 0px;
    list-style: none;
    padding: 0px;
    border-top: 2em solid rgb(218,218,218);
}

.list li {
    /*height: 60px; */
    /*line-height: 60px;
    font-size: 20pt;
    padding-left: 10px;*/
    padding: 1em;
    border-bottom: 1px solid lightgrey;
    clear: both;
    line-height: 2em;
}
.list li .image {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-right: 1em;
}
.list li .subinfo {
    font-size:1em;
    color: grey;
}
.list li .subinfo .source {
    float: left;
}

.list li .subinfo .date {
    float: right;
}
.list li .title {
    font-size: 1.2em;
    font-weight: bold;
    clear: right;
}
.list li .extra .tags {
    background-image: url("./img/glyphicons/png/glyphicons-174-play.png");
    filter: invert(50%);
    -webkit-filter: invert(50%);
    background-position: left center;
    background-size: 8px 10px;
    background-repeat: no-repeat;
    padding-left: 1em;
    float: left;
}
.list li .clear {
    clear: both;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.grid li .image {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1em;
}
.grid li .subinfo, .grid li .title, .grid li .extra .tags {
    display: none;
}
.grid li .extra .options {
    position: relative;
    bottom: 2em;
    right: 0.8em;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.options {
    background-image: url("./img/glyphicons/png/glyphicons-518-option-vertical.png");
    background-size: 6px 20px;
    float:right;
    padding: 0px !important;
}

/* disabled elements */
[disabled] {
    opacity: 0.5;
}

/* selected elements */
li:active, .button:active  {
    opacity: 0.1;
}


/* toast */

.toast {
    width: 60%;
    position: fixed;
    text-align: center;
    bottom: 15%;
    left: 20%;
    background-color: white;
    opacity: 0.0;
    transition: opacity 0.5s, background-color 0.5s;
    transition-delay: 0.5s;
}

.toast.shown {
    background-color: gray;
    color: white;
    opacity: 1.0;
    /*transition-delay: 0s;*/
    transition: opacity 1s, background-color 1s;
}

/* footer */

footer {
    border-top: 5px solid orange;
}
.logout {
    background-image: url("./img/glyphicons/png/glyphicons-388-log-out.png");
    background-size: 22px 18px;
    float:left;
}

.refresh {
    background-image: url("./img/glyphicons/png/glyphicons-82-refresh.png");
    background-size: 25px 26px;
    float:right;
}